body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}

.sidebar {
    width: 250px;
    background-image: linear-gradient(#1c021d, #730b77, #260727);
    color: white;
    padding: 20px;
}

.sidebar img {
    width: 280px;
    margin-bottom: 60px;
    
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s; /* Efeito de transição suave para a cor do link */
}

.sidebar ul li a:hover {
    text-decoration: underline;
    color: #d41e1e; /* Cor diferente no hover */
}

.content {
    padding: 20px;
    flex-grow: 1; /* Para que o conteúdo ocupe o restante do espaço */
    background-color: #f4f4f4; /* Fundo claro para a área de conteúdo */
}

h1 {
    background-image: linear-gradient(#1c021d, #730b77, #260727);
    width: 40rem;
    height: 4rem;
    border-radius: 10px;
    margin-top: 5px;
    color: #FFF;
    display: flex; /* Define o display como flex */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
}

